doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Hello, Beer

    //bundled app css
    link(href='assets/css/ionic.app.css', rel='stylesheet')

    //ionic/angularjs scripts
    script(src='lib/ionic/js/ionic.bundle.js')
    //cordova script (this will be a 404 during development)
    script(src='cordova.js')

    //dependencies
    script(src='lib/lodash/dist/lodash.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es")


    //app scripts
    script(src='components/app.js')
    script(src='components/routes.js')
    script(src='components/constants.js')
    script(src='components/shared_factories/authFactory.js')
    script(src='components/shared_factories/geoFactory.js')
    script(src='components/login/loginController.js')
    script(src='components/login/loginFactory.js')
    script(src='components/signup/signupController.js')
    script(src='components/signup/signupFactory.js')
    script(src='components/main/mainController.js')
    script(src='components/main/mainFactory.js')
    script(src='components/settings/settingsController.js')
    script(src='components/settings/settingsFactory.js')
    script(src='components/event/eventController.js')
    script(src='components/event/eventFactory.js')
    script(src='components/friends/friendsController.js')
    script(src='components/friends/friendsFactory.js')

  body(ng-app='app')
    ion-nav-bar(class='bar-dark')

    ion-nav-view

    //temporary modals
    script(id='friends-search-modal.html', type='text/ng-template').
      <ion-modal-view>
        <ion-header-bar class='bar bar-header bar-light'>
          <button ng-click='closeModal("search")'>
            <i class='icon ion-android-arrow-back'></i>
          </button>
          <input type='search' placeholder='Add new friends' ng-model='users.search'>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item collection-repeat='user in users.list'>TEST</ion-item>
          </ion-list>
        </ion-content>
      </ion-modal-view>

    script(id='friends-request-modal.html', type='text/ng-template').
      <ion-modal-view>
        <ion-header-bar>
          <button ng-click='closeModal("request")'>
            <i class='icon ion-android-arrow-back'></i>
          </button>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item>TEST</ion-item>
          </ion-list>
        </ion-content>
      </ion-modal-view>
