
<ion-modal-view>
  <ion-header-bar>
    <button ng-click="closeModal(&quot;request&quot;)"><i class="icon ion-android-arrow-back"></i></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="friend in friends.pending">{{friend.name}}
        <div class="float-right">
          <button class="accept-friend-request button button-balanced" ng-click="friendshipUpdate(friend.id, true, $index)">Accept</button>
          <button class="reject-friend-request button button-assertive" ng-click="friendshipUpdate(friend.id, false, $index)">Reject</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>