ion-view(view-title='This is {{currentEventInView.ownerName}}\'s event')
  ion-nav-buttons(side='secondary')
    button.button(ui-sref='main')
      i.icon.ion-home
  ion-content
    #map(ng-class="class" data-tap-disabled="true")
    div(ng-show="!isUserOwner")
      button.button.button-block.button-calm(ng-click='lockEvent(currentEventInView.id)', ng-hide="eventLocked") Lock Event
    div(ng-show="isUserOwner")
      button.button.button-block.button-calm(ng-click='acceptEvent(currentEventInView.id)', ng-hide="userAttending" ng-disabled="buttonDisabled") Accept Event
    .list.list-inset
      div.center-text(ng-show="userAttending")
        div.bold {{currentEventInView.locationName}}
        div {{currentEventInView.locationAddress1}}
        div {{currentEventInView.locationAddress2}}
        div {{currentEventInView.locationPhone}}
        div.bold(ng-show="eventLocked") This event's location has been locked by the creator
    .list.list-inset
      div.center-text(ng-show="uber")
        div.bold UberX
        div ~{{uberData.estimate}}.
        div Current Multiplier: {{uberData.surge_multiplier}}X.
        div Distance: {{uberData.distance}} miles.
    .list.list-inset
      div.center-text(ng-show="userAttending")
        div.bold You're going to this event
        div {{usersMessage}}
        div(ng-repeat="invitee in currentEventAttendees")
          div {{invitee.username}}
    img(src='../../assets/images/beer.gif' ng-show="showBeer")


