ion-view(view-title='Friends')
  ion-nav-buttons(side='secondary')
    button.button(ng-click='openModal("request")')
      i.icon.ion-android-notifications-none
    button.button(ng-click='openModal("search")')
      i.icon.ion-person-add
    button.button(ui-sref='settings')
      i.icon.ion-gear-a
  ion-content
    ion-list(can-swipe='true')
      ion-item(ng-repeat='friend in friends.list') {{friend.inviteName === username ? friend.inviteeName : friend.inviteName}}
        ion-option-button.button-assertive(ng-click='removeFriend(friend.id, false, $index)') Remove
