ion-view(view-title='Friends')
  ion-nav-buttons(side='secondary')
    button.button
      i.icon.ion-android-notifications-none
    button.button
      i.icon.ion-person-add
  ion-content
    div searchbox here
    div friends list here
