ion-view(view-title='Hello, {{username}}')
  ion-content
    button.button.button-block.button-balanced(ui-sref='settings') Settings
    div Your friend's Events
    div(ng-repeat="event in friendsEvents")
      button.button.button-block.button-calm(ng-click="getEvent(event.id)") {{event.ownerName}}

