ion-view(view-title='Main')
  ion-content
    button.button.button-block.button-balanced(ui-sref='settings') Settings
    div {{root.username}}
    div Your friend's Events
    div(ng-repeat="event in friendsEvents")
      button.button.button-block.button-calm {{event.ownerName}}
      div {{event.id}}

