ion-view(view-title='Settings')
  ion-content
    .list.list-inset
      ion-view(view-title='Change Password')
      label.item.item-input
        input(type='password', placeholder='Old Password', ng-model='data.password', autofocus)
      label.item.item-input
        input(type='password', placeholder='New Password', ng-model='data.newPassword')
    button.button.button-block.button-calm(ng-click='changePassword()') Change Password
    button.button.button-block.button-calm(ng-click='logout()') Log Out
