
<ion-view view-title="Settings">
  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="main"><i class="icon ion-home"></i></button>
  </ion-nav-buttons>
  <ion-content>
    <button class="button button-block button-energized" ui-sref="friends">Friends</button>
    <div class="list list-inset">
      <ion-view view-title="Change Password"></ion-view>
      <label class="item item-input">
        <input type="password" placeholder="Old Password" ng-model="data.password" autofocus="autofocus"/>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="New Password" ng-model="data.newPassword"/>
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="changePassword()">Change Password</button>
    <button class="button button-block button-calm" ng-click="logout()">Log Out</button>
  </ion-content>
</ion-view>