
#map{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  background-image: url('../../assets/images/backgroundBeer.png')
}

#map-canvas{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  position: relative;
}

.buttonSection{
  position: fixed;
  top: 43px;
  left:10px;
}

.infoSection {
  position: fixed;
  bottom: 15px;
  width: 100%;
}

.infoBox{
  background: rgba(0, 0, 0, 0.65); /* Fall-back for browsers that don't support rgba */
  height: 100%;
  border-radius: 15px;
  border: 2px solid $lightBlue;
  padding: 10px;
}
