$small: 5px;
$medium: 10px;
$large: 15px;
$largest: 20px;

/*Margin*/
.margin-top-small{
  margin-top: $small;
}

.margin-top-medium{
  margin-top: $medium;
}

.margin-top-large{
  margin-top: $large;
}

.margin-top-largest{
  margin-top: $largest;
}

.margin-right-small{
  margin-right: $small;
}

.margin-right-medium{
  margin-right: $medium;
}

.margin-right-large{
  margin-right: $large;
}

.margin-right-largest{
  margin-right: $largest;
}

.margin-bottom-small{
  margin-bottom: $small;
}

.margin-bottom-medium{
  margin-bottom: $medium;
}

.margin-bottom-large{
  margin-bottom: $large;
}

.margin-bottom-largest{
  margin-bottom: $largest;
}

.margin-left-small{
  margin-left: $small;
}

.margin-left-medium{
  margin-left: $medium;
}

.margin-left-large{
  margin-left: $large;
}

.margin-left-largest{
  margin-left: $largest;
}


/*Padding*/
.padding-top-small{
  padding-top: $small;
}

.padding-top-medium{
  padding-top: $medium;
}

.padding-top-large{
  padding-top: $large;
}

.padding-top-largest{
  padding-top: $largest;
}

.padding-right-small{
  padding-right: $small;
}

.padding-right-medium{
  padding-right: $medium;
}

.padding-right-large{
  padding-right: $large;
}

.padding-right-largest{
  padding-right: $largest;
}

.padding-bottom-small{
  padding-bottom: $small;
}

.padding-bottom-medium{
  padding-bottom: $medium;
}

.padding-bottom-large{
  padding-bottom: $large;
}

.padding-bottom-largest{
  padding-bottom: $largest;
}

.padding-left-small{
  padding-left: $small;
}

.padding-left-medium{
  padding-left: $medium;
}

.padding-left-large{
  padding-left: $large;
}

.padding-left-largest{
  padding-left: $largest;
}
