
<ion-view view-title="This is {{currentEventInView.ownerName}}'s event">
  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="main"><i class="icon ion-home"></i></button>
  </ion-nav-buttons>
  <ion-content>
    <div id="map" ng-class="class" data-tap-disabled="true"></div>
    <div>{{locationName}}</div><br/>
    <div>{{locationAddress}}</div><br/>
    <div class="list list-inset">
      <div ng-show="userAttending">You're going to this event</div>
      <div>People going to this event:</div>
      <div ng-repeat="invitee in currentEventAttendees">
        <div>{{invitee.username}}</div>
      </div>
    </div>
    <div ng-show="isUserOwner">
      <button class="button button-block button-calm" ng-click="acceptEvent(currentEventInView.id)" ng-hide="userAttending">Accept Event</button>
    </div>
    <div ng-show="!isUserOwner">
      <button class="button button-block button-calm" ng-click="lockEvent(currentEventInView.id)" ng-hide="eventLocked">Lock Event</button>
    </div><img src="../../assets/images/beer.gif" ng-show="showBeer"/>
  </ion-content>
</ion-view>