
<ion-view view-title="This is {{currentEventInView.ownerName}}'s event">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <button class="button button-block button-calm" ng-click="acceptEvent(currentEventInView.id)" ng-hide="userAttending">Accept Event</button>
    <div class="list list-inset">
      <div ng-show="userAttending">You're going to this event</div>
      <div>People going to this event:</div>
      <div ng-repeat="invitee in currentEventAttendees">
        <div>{{invitee.username}}</div>
      </div>
    </div><img src="../../assets/images/beer.gif" ng-show="eventLoading"/>
  </ion-content>
</ion-view>